/* Start Variables */
:root {
  --section-padding: 50px;
}
/* End Vriables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #fafafa;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--section-padding) 5px;
  flex-flow: wrap;
}
header .left {
  max-width: 45%;
  padding-bottom: calc(var(--section-padding) / 1.5);
}
header .right {
  max-width: 45%;
}
header h1 {
  font-family: PT Serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.045em;
  text-align: left;
}
header h3 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
header p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
/* End Header */

/* Start Images Section */
.container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.characters {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 26%;
}
.box p {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);

  font-family: PT Serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.box .image {
  max-width: 240px;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.box .image img {
  position: relative;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: block;
}
.box .image img::before {
  content: "Product owner";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  color: black;
}
.down {
  margin-top: 100px;
}
.down-2 {
  margin-top: 200px;
}
h2 {
  text-align: center;
  white-space: nowrap;
}

/* End Images Section */

/* Start Footer */
footer {
  padding: 60px 0 15px 0;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #a9a9a9;
}
footer span {
  font-weight: 700;
  color: rgb(13, 139, 223);
  text-shadow: rgb(34 149 145) 2px 4px 5px;
}
/* End Footer */

/* Start mobile version */
@media (min-width: 476px) and (max-width: 719px) {
  .box h2 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
  }
}
@media (min-width: 350px) and (max-width: 475px) {
  header {
    flex-flow: column wrap;
  }
  header .left {
    max-width: unset;
  }
  header .right {
    max-width: unset;
  }

  .characters {
    flex-flow: wrap;
    gap: 5px;
  }
  .box {
    flex-basis: auto;
  }
  .box .image {
    max-width: 138.35px;
  }
  .down-2 {
    margin-top: 0;
  }
  .box h2 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
  }
  .box h2 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
  }
}

@media (max-width: 350px) {
  .characters {
    justify-content: center;
  }
  .left h1 {
    font-size: 36px;
  }
  .box {
    margin: 0;
    padding: 10px;
    flex-basis: auto;
  }
  .box .image {
    max-width: 275px;
  }
}
/* End mobile version */
